@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Demo people</h1>
    <p>This is a practice of creating an App Service application</a>.</p>
</div>
